.body {
  background-image: url('./components/Images/black-starry.png');
  background-size: cover;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: space-between;
  font-family: monospace;
  color: white;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#backgroundVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.button {
  margin-left: 20px;
  color: white;
  border-color: white;
  border-radius: 9999em;
  font-size: 12px;
  padding: 5px;
  background-color: rgba(5,4,2,0.3);
}

#big {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: space-between;
  align-content: space-between;
  align-items: space-between;
}
#middle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#showFavorites {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 5vh;
  transition: all ease 0.8s;
  opacity: 0;
  width: 15vw;
  display: flex;
  margin: 0;
}
#hideFavorites {
  background-color: rgba(5,4,2,0.4);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 5vh;
  transition: all ease 0.8s;
  width: 15vw;
  display: flex;
  margin: 0;
}

#showFavorites:hover {
  opacity: 1;
  background-color: rgba(5,4,2,0.4);

}




